<%= form_for [refinery, :mailchimp_admin, @campaign] do |f| -%>
  <%= render :partial => "/refinery/admin/error_messages", :locals => {
    :object => @campaign,
    :include_object_name => true
  } %>

  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :subject, t('.subject') -%>
      <%= refinery_help_tag t('.subject_help') %>
    </span>
    <%= f.text_field :subject, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :body, t('.body') -%>
    <%= f.text_area :body, :rows => 20, :class => 'wymeditor widest' -%>
  </div>

  <div class="hemisquare">
    <h2><%= t('.to_and_from') %></h2>

    <div class='field'>
      <span class='label_with_help'>
        <%= f.label :from_name, t('.from_name') -%>
        <%= refinery_help_tag t('.from_name_help') %>
      </span>
      <%= f.text_field :from_name %>
    </div>

    <div class='field'>
      <span class='label_with_help'>
        <%= f.label :from_email, t('.from_email') -%>
        <%= refinery_help_tag t('.from_email_help') %>
      </span>
      <%= f.text_field :from_email %>
    </div>
  </div>

  <div class="hemisquare right_side">
    <h2><%= t('.settings') %></h2>

    <div class='field'>
      <span class='label_with_help'>
        <%= f.label :mailchimp_list_id, t('.mailchimp_list_id') -%>
        <%= refinery_help_tag t('.mailchimp_list_id_help') %>
      </span>
      <%= f.select :mailchimp_list_id, @lists.collect{ |list| [list['name'], list['id']] } %>
    </div>

    <div class='field'>
      <span class='label_with_help'>
        <%= f.label :mailchimp_template_id, t('.mailchimp_template_id') -%>
        <%= refinery_help_tag t('.mailchimp_template_id_help') %>
      </span>
      <%= f.select :mailchimp_template_id, @templates.collect{ |template| [template['name'], template['id']] }, :include_blank => true %>
    </div>

    <div class='field'>
      <span class='label_with_help'>
        <%= f.label :auto_tweet, t('.auto_tweet') -%>
        <%= refinery_help_tag t('.auto_tweet_help') %>
      </span>
      <%= f.check_box :auto_tweet %>
    </div>
  </div>

  <div class="clearfix"></div>

  <%= render :partial => "/refinery/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_subject => t('delete', :scope => 'refinery.mailchimp.admin.campaigns.campaign.delete'),
                :delete_confirmation => t('message', :scope => 'refinery.admin.de;ete', :subject => @campaign.subject)
              } %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
