<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(campaign) -%>">
  <span class='subject'>
    <%= campaign.subject %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_campaign_path(campaign),
         :subject => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_campaign_path(campaign),
        :class => "cancel confirm-delete",
        :subject => t('.delete'),
        :'data-confirm' => t('admin.campaigns.campaign.delete_confirmation', :subject => campaign.subject),
        :'data-method' => :delete %>
    <%= link_to "Send", "#" %>
  </span>
</li>
