<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(campaign) -%>">
  <span class='title'>
    <%= campaign.title %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), campaign_url(campaign),
        :title => t('.view_live'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_campaign_path(campaign),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_campaign_path(campaign),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :'data-confirm' => t('shared.admin.delete.message',
        :title => campaign.title
      ),
        :'data-method' => :delete %>
  </span>
</li>
