<% form_for [:admin, @campaign] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
    :object => @campaign,
    :include_object_name => true
  } %>
  
  <div class='field'>
    <%= f.label :subject -%>
    <%= f.text_field :subject, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :body -%>
    <%= f.text_area :body, :rows => 20, :class => 'wymeditor widest' -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_subject => t('admin.campaigns.campaign.delete'),
                :delete_confirmation => t('shared.admin.delete.message', :subject => @campaign.subject)
              } %>
<% end -%>
